.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1a1a1a; 
    color: #fff; 
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
/* Header */
header {
    background: #000;
    color: #fff;
    padding: 20px 0;
    border-radius: 200px;
}
.upper {
    display: flex;
    justify-content: space-between;
}
.upper img {
    width: 200px;
}
.header_wrap h1 {
    text-align: center;
    margin-bottom: 5px;
}
.header_wrap ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
}
 nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
/*main*/
main {
    flex: 1;
}
main img {
    cursor: pointer;
}
   
/* Sections */
.section {
    padding: 40px 0;
}
/*footer*/
footer {
    background: #000;
    color: #fff;
    padding: 40px 0;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.footer_wrap a {
    color: white;
    display: inline-block;
}
.footer_wrap p {
    display: block;
    text-align: center;
}
.footer_wrap ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    list-style: none;
    padding: 0;
}
.social {
    background: #111;
    color: #e0e0e0;
    border-radius: 12px;
    border: 2px solid #8b0000;
    box-shadow: 0 0 10px rgba(139, 0, 0, 0.5), inset 0 0 15px rgba(255, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px auto;
    width: 100px;
    height: 100px;
}
.social:hover{
    transform: translateY(-5px) rotate(-2deg);
    box-shadow: 0 0 20px rgba(139, 0, 0, 0.8), inset 0 0 25px rgba(255, 0, 0, 0.15);
}
.social img {
    width: 100px;
    display: block;
    border-radius: 22%;
}
.down {
    display: flex;
    justify-content: space-between;
}
    .down img {
        width: 200px;
        height: 166.66px;
    }
.space {
    width: 200px;
}
.logo {
    width: 246px;
    height: 205px;

}


